<% layout('/layouts/bp') %>
    <link rel="stylesheet" type="text/css" href="http://localhost:3003/css/home.css">
    <div class="container">
        <form action="/show/<%=hospital._id%>?method=PUT" method="POST">
            <div>
                <label for="Name">Name</label>
                <input type="text" id="Name" name="hospital[Name]" value="<%=hospital.Name%> ">
            </div>
            <div>
                <label for="City">Location</label>
                <input type="text" id="City" name="hospital[City]" value='<%=hospital.City%>'>
            </div>
            <div>
                <label for="StaffedBeds">Staffed Beds</label>
                <input type="text" id="StaffedBeds" name="hospital[StaffedBeds]" value='<%=hospital.StaffedBeds%>'>
            </div>
            <div>
                <label for="Image">Image</label>
                <input type="text" id="Image" name="hospital[Image]" value='<%=hospital.Image%>'>

                <img class="Lthumbnail" src="<%= hospital.Image %>" alt="">


            </div>
            <button>submit</button>
        </form>