<% layout('/layouts/bp') %>
    <link rel="styl esheet" type="text/css" href="http://localhost:3003/css/home.css">
    <div class="container">
        <form class="edit-form" action="/show/<%=hospital._id%>?method=PATCH" method="POST" enctype="multipart/form-data">
            <div>
                <label for="Name">Name</label>
                <input type="text" id="Name" name="hospital[Name]" value="<%=hospital.Name%> ">
            </div>
            <div>
                <label for="City">Location</label>
                <input type="text" id="City" name="hospital[City]" value='<%=hospital.City%>'>
            </div>
            <div>
                <input type="file" name="Image" id="" multiple>
            </div>
            <div>
                <% hospital.Image.forEach(function(img,i){ %>
                    <img src=<%=img.url%> " alt="">
                    <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                    <label for="image-<%=i%> ">Delete</label>
                    <% }) %>
            </div>
            <button>submit</button>
        </form>
    </div>