<% layout('/layouts/bp') %>

    <div class="container">


        <div id='michigan-map'></div>

        <ul class="hospital-list">
            <h1>Found
                <%=hospitals.length %> hospitals in Michigan
            </h1>
            <% for(let hospital of hospitals) { %>



                <li class="card" style="background-image: url( ' <%=img.url%> ')">

                    <div class="card-content">
                        <div class="card-top">

                            <!-- <div id="speciality">Speciality</div>
                                    <div id="rating">
                                        <%=hospital.Reviews.Rating%>
                                    </div> -->

                        </div>
                        <ul class="card-text">
                            <a class="title" href="/show/<%=hospital._id%>">
                                <%= hospital.Name %>
                            </a>

                            <ul class="details">
                                <li class="detail">
                                    <img class="detail-image" src="img/pin.png" alt="">

                                    <%= hospital.City %>

                                </li>
                                <li class="detail"> <img class="detail-image" src="img/bed.png" alt="">
                                    <%= hospital.StaffedBeds %>
                                </li>
                                <li class="detail"> <img class="detail-image" src="img/dollar.png" alt="">
                                    <%= hospital.GrossPatientRevenue %>
                                </li>
                            </ul>

                        </ul>

                </li>


                <%} %>
        </ul>



        </div>
        <script>
            const hospitals =
                <%-JSON.stringify(hospitals) %>
        </script>

        <script src="/js/michiganMap.js"></script>
    </div>