<% layout('/layouts/bp') %>

    <div class="container">

        <div id='michigan-map'></div>



        <ul class="hospital-list">
            <h1>The Hospitals of Michigan</h1>
            <% for(let hospital of hospitals) { %>
                <li class="card">
                    <% for(img of hospital.Image) {%>
                        <img class="thumbnail" src="<%=img.url%> " alt="">
                        <% } %>
                            <div class="card-content">

                                </a>
                                <ul class="card-text">

                                    <h4>
                                        <a class="title" href="/show/<%=hospital._id%>">
                                            <%= hospital.Name %>
                                        </a>
                                    </h4>
                                    <div class="card-details">
                                        <li>
                                            Location:
                                            <%= hospital.City %>
                                        </li>
                                        <li> Staffed Beds:
                                            <%= hospital.StaffedBeds %>
                                        </li>
                                    </div>
                                </ul>

                </li>


                <%} %>
        </ul>
        </div>
    </div>

    </div>
    <script>
        const hospitals =
            <%-JSON.stringify(hospitals) %>
    </script>

    <script src="/js/michiganMap.js"></script>
    </div>