<% layout('/layouts/bp') %>


    <div class="container">



        <ul class="hospital-list">
            <h1>The Hospitals of Michigan</h1>
            <% for(let hospital of hospitals) { %>
                <li class="card">
                    <div class="card-content">
                        <img class="thumbnail" src="<%= hospital.Image %>" alt="">
                        <ul class="card-text">
                            <h4>
                                <a href="/show/<%=hospital._id%>">
                                    <%= hospital.Name %>
                                </a>
                            </h4>
                            </a>
                            <li>
                                Location:
                                <%= hospital.City %>
                            </li>
                            <li> Staffed Beds:
                                <%= hospital.StaffedBeds %>
                            </li>
                        </ul>

                </li>

                <%} %>
        </ul>
        </div>